<div class="card-content">
    <div class="card-img">
        <span><h4>{{destino.nombre}}</h4></span>
        <img src="https://placeimg.com/380/230/nature" alt="">
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Lorem	ipsum	dolor	sit	amet	consectetur,	adipisicing	elit.	Laboriosam,	voluptatum!	Dolorquo,	perspiciatis. [{{destino.imagenUrl}}]</p>
        <a href="#" class="btn-card">Leer</a>
    </div>
</div>