<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand text-center" href="#">
      {{title}}
    </a>
  </div>
</nav>

<app-lista-destinos></app-lista-destinos>