<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-center" [routerLink]="['/home']">
      {{title}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
        <a class="nav-link" [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<hr class="mb-5"/>

Fecha: {{ tiempo | async}}

