<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 offset-sm-3">
            <br/>
            <span class="anchor" id="formLogin"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Lista de deseos</h3>
                </div>
                <div class="card-body">
                    <form class="container-fluid">
                        <div class="mb-3">
                            <label for="nombre" form-contro>Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresar el nombre" #nombre>
                        </div>
                        <div class="mb-3">
                            <label for="imageUrl" form-contro>Url de la Imagen</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar la Url de la imagen" #url>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    
    <hr class="mb-5">

    <ul class="list-group">
        <li *ngFor="let l of lista" class="list-group-item">
            {{l}}
        </li>
    </ul>
    
    <hr class="mb-5">

    <div class="row">
        <app-destino-viaje *ngFor="let d of destinos" [destino]="d"></app-destino-viaje>
    </div>

</div>